<img id="moveToSpot" hidden="true" src="<%= image_url('moveoption.png') %>">
<table>
  <tbody>
    <tr>
      <td>
        <div id="bigscreen">
          <div id="shotclock" class="bigScreenDisplay"></div>
          <div id="scoreboard" class="bigScreenDisplay"></div>
          <div id="gametime" class="bigScreenDisplay"></div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div id="bigscreen">
          <div id="instructions" class="bigScreenDisplay"></div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div id="laxGame">
          <div id="splash" class="splashBackground">
            <img id="singlePlayer" src="/assets/single_player_match.png"/>
            <img id="challengeMatch" src="/assets/challenge_match.png"/>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<div>
  <button id="draggableButton">Drag Player</button>
  <button id="faceoffButton">Faceoff</button>
</div>
<div><%= link_to 'Back', games_path %></div>
