<div id="laxGame">
  <img id="startButton" src="/assets/fo.png" />
</div>
<div><%= link_to 'Back', games_path %></div>

<script>
  $(document).ready(function ()
  {
    var initialize = function()
    {
      var fieldBackgroundAnim = new gf.animation({url: "/assets/laxfield.jpg", width: 400, height: 800});

      $('#laxGame').append("<div id='container' style='width: 400px; height: 800px;'>");
      container = $("#container");
      field = gf.addGroup(container, "fieldContainer");
      fieldBackground = gf.addSprite(field, "fieldBackground", {width: 400, height: 800});
      gf.setAnimation(fieldBackground, fieldBackgroundAnim);

      var player1Anim = new gf.animation({url: "/assets/running_sprite.png", numberOfFrames: 3, rate: 100});
      player1 = gf.addSprite(field, "player1");
      gf.setAnimation(player1, player1Anim, true);

      $("#startButton").remove();
      container.css("display", "block");

    }

    var gameLoop = function() {

    }

    gf.addCallback(gameLoop, 30);

    $("#startButton").click(function() {
      gf.startGame(initialize);
    });

    /*
    var $movables = $(".moveable");
    $movables.draggable({containment: 'fieldContainer', revert: "invalid"});
    $dropContainer = $(".fieldContainer");

    $dropContainer.droppable({
      accept: ".moveable",
      activate: dragStarted,
      drop: dragDrop
    });

    function dragStarted(e, ui)
    {
      if (ui.draggable[0].id.indexOf("ball") == -1)
      {
        setContainment(ui.draggable[0].id);
        $('.moveOption').fadeIn(200);
      }
    }

    function dragDrop(e,ui)
    {
      var id = ui.draggable[0].id;
      var xPos = parseInt(ui.draggable[0].style["left"].replace("px", ""));
      var yPos = parseInt(ui.draggable[0].style["top"].replace("px", ""));
      var newXPos = calculateRoundedGridCoordinate(xPos);
      var newYPos = calculateRoundedGridCoordinate(yPos);
      var col = calculateRowOrColumnCoordinate(newXPos);
      var row = calculateRowOrColumnCoordinate(newYPos);

      $('.moveOption').fadeOut(200);
      $('.moveOption').promise().done(function (){$('.moveOption').remove()});
      //clearInterval()
      addMoveable(currentMove, id, row, col);
    }
    */
  });

</script>
