<img id="moveToSpot" hidden="true" src="<%= image_url('moveoption.png') %>">
<table>
  <tbody>
    <tr>
      <td>
        <div id="bigscreen">
          <div id="shotclock" class="bigScreenDisplay"></div>
          <div id="scoreboard" class="bigScreenDisplay"></div>
          <div id="gametime" class="bigScreenDisplay"></div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div id="bigscreen">
          <div id="instructions" class="bigScreenDisplay"></div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div id="laxGame">
          <div id="splash" class="splashBackground">
            <img id="singlePlayer" src="/assets/single_player_match.png"/>
            <img id="challengeMatch" src="/assets/challenge_match.png"/>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<div>
  <button id="draggableButton">Drag Player</button>
  <button id="faceoffButton">Faceoff</button>
</div>
<div><%= link_to 'Back', games_path %></div>

<script>
  $(document).ready(function ()
  {

    var myTeamPlayerAnim = {
      stand: new gf.animation({
        url: "/assets/standing_sprite.png"
      }),
      runSideways:  new gf.animation({
        url:    "/assets/running_sprite.png",
        numberOfFrames: 3,
        rate: 100
      }),
      runTowards:  new gf.animation({
        url:    "/assets/running_sprite_towards.png",
        numberOfFrames: 3,
        rate: 100
      }),
      runAway:  new gf.animation({
        url:    "/assets/running_sprite_away.png",
        numberOfFrames: 3,
        rate: 100
      }),
      throwSideways:  new gf.animation({
        url:    "/assets/throw_sideways.png",
        numberOfFrames: 3,
        rate: 100
      })
    };

    var oppositionTeamPlayerAnim = {
      stand: new gf.animation({
        url: "/assets/standing_sprite_2.png"
      }),
      runSideways:  new gf.animation({
        url:    "/assets/running_sprite_2.png",
        numberOfFrames: 3,
        rate: 100
      }),
      runTowards:  new gf.animation({
        url:    "/assets/running_sprite_towards_2.png",
        numberOfFrames: 3,
        rate: 100
      }),
      runAway:  new gf.animation({
        url:    "/assets/running_sprite_away_2.png",
        numberOfFrames: 3,
        rate: 100
      }),
      throwSideways:  new gf.animation({
        url:    "/assets/throw_sideways.png",
        numberOfFrames: 3,
        rate: 100
      })
    };

    var faceoffAnim = {
      set:  new gf.animation({
        url:    "/assets/faceoff_set.png",
        width: 100
      }),
      draw:  new gf.animation({
        url:    "/assets/faceoff_spritesheet.png",
        numberOfFrames: 4,
        rate: 300,
        width: 100,
        loop: false
      })
    };

    var refereeAnim = {
      stand:  new gf.animation({
        url:    "/assets/referee_standing.png",
        width: 100,
        height: 100
      }),
      draw:  new gf.animation({
        url:    "/assets/referee_faceoff_321.png",
        numberOfFrames: 4,
        rate: 1000,
        width: 100,
        height: 100,
        loop: false
      }),
      goal:  new gf.animation({
        url:    "/assets/referee_goal.png",
        numberOfFrames: 4,
        rate: 300,
        width: 100,
        height: 100
      })
    };

    var ballAnim = {
      groundball: new gf.animation({
        url: "/assets/ball.png"
      }),
      moving:  new gf.animation({
        url:    "/assets/ball_moving.png",
        numberOfFrames: 3,
        rate: 300
      })
    };

    var initialize = function()
    {
      $("#splash").remove();
      $('#laxGame').append("<div id='container' style='width: 800px; height: 400px;'>");
      container = $("#container");

      var fieldBackgroundAnim = new gf.animation({url: "/assets/laxfield.jpg", width: 800, height: 400});

      field = gf.addGroup(container, "fieldContainer", {width: 800, height: 400});

      fieldBackground = gf.addSprite(field, "fieldBackground", {width: 800, height: 400});
      gf.setAnimation(fieldBackground, fieldBackgroundAnim);

      $("#shotclock").text("10");
      $("#scoreboard").text("0");
      $("#gametime").text("0");

      var PlayerBase = function()
      {
        this.update = function ()
        {
          if (draggingPlayers == false)
          {
            gf.x(this.div, this.div.css('left'));
            gf.y(this.div, this.div.css('top'));
            gf.width(this.div, this.div.css('width'));
            gf.height(this.div, this.div.css('height'));
          }
        };

      };

      var player = new PlayerBase();

      player.div = addMoveable(field, currentMove, "player", 2, 3, MYTEAM);
      gf.setAnimation(player.div, myTeamPlayerAnim.stand);
      myPlayers.push(player);

      var player2 = new PlayerBase();

      player2.div = addMoveable(field, currentMove, "player2", 3, 3, OPPOSITION);
      gf.setAnimation(player2.div, oppositionTeamPlayerAnim.stand);
      oppositionPlayers.push(player2);

      var faceoff = gf.addSprite(field, "faceoff", {width: 100, height: 100, x: 350, y: 150});
      gf.setAnimation(faceoff, faceoffAnim.set);

      var referee = gf.addSprite(field, "referee", {width: 100, height: 100, x: 250, y: 100});
      gf.setAnimation(referee, refereeAnim.stand);

      $("#startButton").remove();
      container.css("display", "block");
    }

    function movePlayers()
    {
      for (var i = 0; i < moves.length; i++)
      {
        if (moves[i][0] == currentMove)
        {
          var div = $('#' + moves[i][1] + '_start');
          gf.transform(div, {flipH: orientSpriteDirection(moves[i])});
          if (moves[i][1].indexOf("ball") == -1)
          {
            var animType = div.data("myteam") == true ? myTeamPlayerAnim : oppositionTeamPlayerAnim;

            var XY = previousXY(moves[i][1]);
            var animMethod = getSpriteRunMethod(animType, moves[i]);
            /*
            spriteThrowAndMove(div, animType.throwSideways, animMethod, animType.stand, {
              y: getCoordinate(moves[i][2]),
              x: getCoordinate(moves[i][3]),
              start_x: getCoordinate(XY[0]),
              start_y: getCoordinate(XY[1]),
              removeWhenDone: true,
              replaceWithDiv: moves[i][1]
            });
  */
            // then move
            var animMethod = getSpriteRunMethod(animType, moves[i]);
            gf.spriteMove(div, animMethod, animType.stand, {
              y: getCoordinate(moves[i][2]),
              x: getCoordinate(moves[i][3]),
              removeWhenDone: true,
              replaceWithDiv: moves[i][1]
            });
          }
          else
          {
            gf.spriteMove(div, ballAnim.moving, ballAnim.groundball, {
              y: getCoordinate(moves[i][2]),
              x: getCoordinate(moves[i][3]),
              removeWhenDone: true,
              replaceWithDiv: moves[i][1]
            });
          }
        }
      }
    }

    function getSpriteRunMethod(animType, moveArrayRow)
    {
      var startRow = 0;
      var finishRow = moveArrayRow[2];
      var startCol = 0;
      var finishCol = moveArrayRow[3];
      var lastMove = previousMove(moveArrayRow[1]);

      for (var i=0; i<moves.length; i++)
      {
        if (moves[i][0] == lastMove && moves[i][1] == moveArrayRow[1])
        {
          startCol = moves[i][3];
          startRow = moves[i][2];
          break;
        }
      }
      if (startCol != finishCol)
      {
        return animType.runSideways
      }
      else if (startRow < finishRow)
      {
        return animType.runTowards
      }
      else
      {
        return animType.runAway
      }
    }

    function addMoveableStartingPointBack(id, startingMove, myTeam)
    {

      var row = getMovesRowOrColumn(id, startingMove, "row");
      var col = getMovesRowOrColumn(id, startingMove, "col");

      var y = getCoordinate(row);
      var x = getCoordinate(col);
      var $moveable = $("#" + id + "_start");
      if (!$moveable.length)
      {
        $moveable = $("<div id='" + id + "_start' style='position: absolute;'></div>");
      }
      $moveable.data("myteam", myTeam);

      if (id.indexOf("ball") == -1)
      {
        var animType = $moveable.data("myteam") == true ? myTeamPlayerAnim : oppositionTeamPlayerAnim;
        gf.setAnimation($moveable, animType.stand);
      }
      else
      {
        gf.setAnimation($moveable, ballAnim.groundball);
      }
      $moveable.css({height: moveablesSize, width: moveablesSize, left: x, top: y}).zIndex(1000);
      $moveable.appendTo($("#"+id).parent());
    }

    var gameLoop = function()
    {
      for (var i = 0; i < myPlayers.length; i++)
      {
        var player = myPlayers[i];
        player.update();
        for (var y = 0; y < oppositionPlayers.length; y++)
        {
          oppositionPlayers[y].update();
          if (gf.spriteCollide(player.div, oppositionPlayers[y].div))
          {
            console.log(player.div.attr('id') + " collided with " + oppositionPlayers[y].div.attr('id'));
          }
        }
      }
    }

    var clock = function() {
      var shotclockTime = parseInt($("#shotclock").text());
      var gameTime = parseInt($("#gametime").text());

      if (shotclockTime <= 0)
      {
        movePlayers();
        $("#shotclock").text(10);
        currentMove++;
        $("#instructions").text("Make your next move!! Choose wisely");

      }
      else
      {
        $("#shotclock").text(shotclockTime-1);
        $("#gametime").text(gameTime+1);
      }
    }

    gf.addCallback(gameLoop, 30);
    gf.addCallback(clock, 1000);

    $("#singlePlayer").click(function() {
      gameMode = "SINGLE";
      gf.startGame(initialize);
    });

    $("#challengeMatch").click(function() {
      gameMode = "CHALLENGE";
      gf.startGame(initialize);
    });

    $("#draggableButton").click(function() {
      currentMove++;
      setDraggable($("#player"));
      setDraggable($("#player2"));
      setDraggable($("#ball"));
    });

    $("#faceoffButton").click(function() {
      var referee = $("#referee");
      gf.setAnimation(referee, refereeAnim.draw);


      setTimeout(function(){
        $("#referee").fadeOut();
        var faceoff = $("#faceoff");
        gf.setAnimation(faceoff, faceoffAnim.draw);
      }, 4000);

      setTimeout(function(){
        var ball = addMoveable(field, currentMove, "ball", 4, 8);
        gf.setAnimation(ball, ballAnim.groundball);
        flickBallOut();
        $("#faceoff").fadeOut();
      }, 5200);

      setTimeout(function() {
        $("#referee").remove();
        $("#faceoff").remove();
      }, 6000);

    });

    function flickBallOut()
    {
      var row = 4;
      var col = 8;

      while (row == 4 && col == 8)
      {
        row = 7 + Math.floor(Math.random() * 3);
        col = 2 + Math.floor(Math.random() * 6);
      }
      currentMove++;

      gf.spriteMove($("#ball"), ballAnim.moving, ballAnim.groundball, {
        y: getCoordinate(col),
        x: getCoordinate(row)
      });
      $('#ball').click(function () {
        $("#instructions").text("Ball Clicked");
      });
    }

    function setDraggable(div)
    {
      div.css( 'cursor', 'move' );
      div.draggable({containment: 'gf_group', revert: "invalid"});
      div.parent().droppable({
        accept: ".gf_sprite",
        activate: dragStarted,
        drop: dragDrop
      });
    }

    function dragStarted(e, ui)
    {
      if (ui.draggable[0].id.indexOf("ball") == -1)
      {
        setContainment(ui.draggable[0].id, previousMove(ui.draggable[0].id));
        $('.moveOption').fadeIn(200);
      }
    }
    function dragDrop(e,ui)
    {
      var id = ui.draggable[0].id;
      $("#" + id).attr('class', 'remove');
      // get x y from draggable
      var xPos = parseInt(ui.draggable[0].style["left"].replace("px", ""));
      var yPos = parseInt(ui.draggable[0].style["top"].replace("px", ""));
      // get the new grid rounded position
      var newXPos = Math.round(xPos / moveablesSize) * moveablesSize;
      var newYPos = Math.round(yPos / moveablesSize) * moveablesSize;
      // calculate the row and column
      var col = (newXPos / moveablesSize);
      var row = (newYPos / moveablesSize);
      // fade out the options
      $('.moveOption').fadeOut(200);
      $('.moveOption').promise().done(function (){$('.moveOption').remove()});

      // add the moved player or ball back
      var moveable = addMoveable($("#"+id).parent(), currentMove, id, row, col, $("#" + id).data("myteam"));
      if (id.indexOf("ball") == -1)
      {
        var animType = moveable.data("myteam") == true ? myTeamPlayerAnim : oppositionTeamPlayerAnim;
        gf.setAnimation(moveable, animType.stand);
      }
      else
      {
        gf.setAnimation(moveable, ballAnim.groundball);
      }
      moveable.css({opacity: 0.3}).zIndex(1500);
      addMoveableStartingPointBack(id, previousMove(id), $("#"+id).data("myteam"));

      // assign the added back div to the stored player item
      if (id.indexOf("ball") == -1)
      {
        for (var i = 0; i < myPlayers.length; i++)
        {
          if (myPlayers[i].div.attr('id') == id)
          {
            myPlayers[i].div = moveable;
            break;
          }
        }
      }

      $(".remove").remove();
      setDraggable($("#"+id));
    }

  });

</script>
