<img id="moveToSpot" hidden="true" src="<%= image_url('moveoption.png') %>">
<table>
  <tbody>
    <tr>
      <td>
        <div id="bigscreen">
          <div id="shotclock" class="bigScreenDisplay"></div>
          <div id="scoreboard" class="bigScreenDisplay"></div>
          <div id="gametime" class="bigScreenDisplay"></div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div id="bigscreen">
          <div id="instructions" class="bigScreenDisplay"></div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div id="laxGame">
          <img id="startButton" src="/assets/fo.png" />
        </div>
      </td>
    </tr>
  </tbody>
</table>
<div>
  <button id="draggableButton">Drag Player</button>
</div>
<div><%= link_to 'Back', games_path %></div>

<script>
  $(document).ready(function ()
  {
    var initialize = function()
    {
      var fieldBackgroundAnim = new gf.animation({url: "/assets/laxfield.jpg", width: 800, height: 400});

      $('#laxGame').append("<div id='container' style='width: 800px; height: 400px;'>");
      container = $("#container");
      field = gf.addGroup(container, "fieldContainer", {width: 800, height: 400});

      fieldBackground = gf.addSprite(field, "fieldBackground", {width: 800, height: 400});
      gf.setAnimation(fieldBackground, fieldBackgroundAnim);

      $("#shotclock").text("10");
      $("#scoreboard").text("0");
      $("#gametime").text("0");

      var player = addPlayer(field, currentMove, "player", 3, 3);
      gf.setAnimation(player, playerAnim.stand);

      $("#startButton").remove();
      container.css("display", "block");
    }

    var playerAnim = {
      stand: new gf.animation({
        url: "/assets/standing_sprite.png"
      }),
      moveable: new gf.animation({
        url: "/assets/standing_sprite.png"
      }),
      run:  new gf.animation({
        url:    "/assets/running_sprite.png",
        numberOfFrames: 3,
        rate: 100
      })
    };

    function movePlayers()
    {
      for (var i = 0; i < moves.length; i++)
      {
        if (moves[i][0] == currentMove)
        {
          var div = $('#' + moves[i][1] + '_start');
          gf.transform(div, {flipH: orientSpriteDirection(moves[i][1])});
          gf.spriteMove(div, playerAnim.run, playerAnim.stand, {y:getCoordinate(moves[i][2]), x:getCoordinate(moves[i][3]), removeWhenDone: true, replaceWithDiv: moves[i][1]});
        }
      }
    }

    var gameLoop = function()
    {

    }

    var clock = function() {
      var shotclockTime = parseInt($("#shotclock").text());
      var gameTime = parseInt($("#gametime").text());

      if (shotclockTime <= 0)
      {
        movePlayers();
        $("#shotclock").text(10);
        currentMove++;
        $("#instructions").text("Make your next move!! Choose wisely");

      }
      else
      {
        $("#shotclock").text(shotclockTime-1);
        $("#gametime").text(gameTime+1);
      }
    }

    gf.addCallback(gameLoop, 30);
    gf.addCallback(clock, 1000);

    $("#startButton").click(function() {
      gf.startGame(initialize);
    });

    $("#draggableButton").click(function() {
      currentMove++;
      setDraggable($("#player"));
    });

    function setDraggable(div)
    {
      div.css( 'cursor', 'move' );
      div.draggable({containment: 'gf_group', revert: "invalid"});
      div.parent().droppable({
        accept: ".gf_sprite",
        activate: dragStarted,
        drop: dragDrop
      });
    }

    function dragStarted(e, ui)
    {
      if (ui.draggable[0].id.indexOf("ball") == -1)
      {
        setContainment(ui.draggable[0].id, previousMove(ui.draggable[0].id));
        $('.moveOption').fadeIn(200);
      }
    }
    function dragDrop(e,ui)
    {
      var id = ui.draggable[0].id;
      $("#" + id).attr('class', 'remove');
      var xPos = parseInt(ui.draggable[0].style["left"].replace("px", ""));
      var yPos = parseInt(ui.draggable[0].style["top"].replace("px", ""));
      var newXPos = Math.round(xPos / moveablesSize) * moveablesSize;
      var newYPos = Math.round(yPos / moveablesSize) * moveablesSize;
      var col = (newXPos / moveablesSize);
      var row = (newYPos / moveablesSize);
      $('.moveOption').fadeOut(200);
      $('.moveOption').promise().done(function (){$('.moveOption').remove()});

      // add the move player back
      var player = addPlayer($("#"+id).parent(), currentMove, id, row, col);
      gf.setAnimation(player, playerAnim.stand);
      player.css({opacity: 0.3});
      addMoveableStartingPointBack(id, previousMove(id));
      $(".remove").remove();
      setDraggable($("#"+id));
    }

  });

</script>
