.splashBackground {
  background-image: url('splash_screen.jpg');
  height: 400px;
  width: 800px;
}

#singlePlayer {
  postion: absolute;
  margin-left: 300px;
  margin-top: 200px;
}

#challengeMatch {
  postion: absolute;
}

#bigscreen {
  background-color: black;
}

.bigScreenDisplay
{
  display: inline;
  color: white;
}

.rowCol{
  position: absolute;
}

.moveOption {
  vertical-align:bottom;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.moveable {
  cursor: move;
  position: absolute;
}

.ui-draggable-dragging {
  -webkit-transition:none !important;
  -moz-transition:none !important;
  -ms-transition:none !important;
  transition:none !important;
}