.jumbo {
  font-size: 80px;
  font-weight: bold;
  padding-top: 350px;
}

.fieldContainer {
  width: 400px;
  height: 800px;
  overflow: hidden;
  background-image: url(laxfield.jpg);
  position: absolute;
}

.rowCol{
  position: absolute;
}

.moveOption {
  vertical-align:bottom;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.moveable {
  cursor: move;
}

.player {
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -ms-transition-duration: 0.1s;
  transition-duration: 0.1s;
  z-index: 1500;
  vertical-align:bottom;
  position: absolute;
}

.playerStartingPoint {
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-duration: 1.0s;
  -moz-transition-duration: 1.0s;
  -ms-transition-duration: 1.0s;
  transition-duration: 1.0s;
  z-index: 1500;
  vertical-align:bottom;
  position: absolute;
}

.ball {
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-duration: 1.0s;
  -moz-transition-duration: 1.0s;
  -ms-transition-duration: 1.0s;
  transition-duration: 1.0s;
  z-index: 1600;
  vertical-align:bottom;
  position: absolute;
}

.ui-draggable-dragging {
  -webkit-transition:none !important;
  -moz-transition:none !important;
  -ms-transition:none !important;
  transition:none !important;
}